/* CSS for movie_viewer.html ------ */

/* Circles of circle packed diagram */
    circle {
        stroke: white;
        fill: "light-gray"; 
        opacity: 0.3;
        stroke-width: 1px;
    }
    
/* Circlepack div */
    #circlepck {
        width: 35%;
        height: 50%;
        float: left;
    }

/* word cloud div */
    #wordcloud {
        width: 65%;
        height: 50%;
        float: right;
    }
 
/* path for wordcloud */
    path { 
/*    stroke: steelblue;*/
        stroke-width: 2;
        fill: none;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: grey;
        stroke-width: 1;
        shape-rendering: crispEdges;
    }
    
    .sc_x line{
        stroke:black;
    }
    
    .blinking{
        animation:blinkingText 0.8s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #000;    }
        49%{    color: transparent; }
        50%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #000;    }
    }
   
/*  footer  */
    footer {
      background-color: dimgray;
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 15px;
      position: sticky;
    }